.meterBox{
    padding: 5px;
    background-color: #c4c4c4;
    width: 272px;
    border-radius: 10px;
}
.meterName{
    display: flex;
    justify-content: center;

}
.meterSellBuy{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.meters{
    display: flex;
    flex-direction: row;
}

.box{
    padding: 5px;
    width: 123px;
    height: 105px;
    background: black;
    border-radius: 10px;
}

.meterBar{
    width: 100%;
    height: 6.7%;
    margin-top: 3.81px;
    background: #0AFF05;
    border-radius: 5px;
    margin-bottom: 0px;
}
.sell{
    background: #FF0505;
}
.firstMeterBar{
    margin-top: 0px;
}
.center{
    height: 100%;
    width: 100%;
}